@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Matemasie", sans-serif;
}

body {
    transition: 0.5s;
    text-align: center;
    margin-top: 50px;
}

.main {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 30rem;
    height: 10rem;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    text-align: center;
}

button {
    margin-top: 20px;
    width: 100%;
    display: block;
    background-color: black;
    color: aqua;
    border: none;
    border-radius: 10px;
    font-size: 35px;
}