h1 {
    color: black;
    text-align: center;
    align-items: center;
}

button {
    border-radius: 20px;
    padding: 5px;
    border: none;
    width: 200px;
    height: 80px;
    margin: 5px;
    font-size: 40px;
    font-weight: 600;
    color: whitesmoke;
}

#green {
    background-color: rgb(0, 85, 0);
}

#blue {
    background-color: rgb(0, 0, 171);
}

#red {
    background-color: rgb(143, 0, 0);
}

#random {
    background-color: aquamarine;
    color: black;
}